---
layout: template
title: Gem's other website!
---

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom" style="padding-bottom: 5vh">Nightbot-specific .jsons</h1>
  </div>
</header>

<style>
.command-description > p {
  display:inline;
}
.command-detailbox {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.expand-detailbox {
  font-family:monospace;
}
</style>

<div class="w3-container w3-padding">
  <ul class="w3-ul w3-border w3-hoverable">
    {% for command in site.data.commands %}
      {% assign category = command[0] %}
      {% assign files = command[1] %}

      <li class="w3-theme">{{ category }}</li>
      {% for file in files %}
        {% capture filename %}{{ file }}.json{% endcapture %}
        {% capture full_filename %}_nb/{{ filename }}{% endcapture %}
        {% capture page_cond %}item.path == "{{ full_filename }}"{% endcapture %}
        {% assign pg = site.nb | where_exp: "item", page_cond | first %}
        <li>
          <span class="expand-detailbox">+</span>
          <span>
            <a href="{% link {{full_filename}} %}" target="_blank"><b>{{filename}}</b></a>: <span class="command-description">{{ pg.description | markdownify }}</span>
          </span>
          <div class="command-detailbox">
            {% assign formatted_vars = "" | split: "" %}
            {% for variable in pg.variables %}
              {% capture formatted_var %}<code>{{ variable}}</code>{% endcapture %}
              {% assign formatted_vars = formatted_vars | push: formatted_var %}
            {% endfor %}
            <p>variables: {{ formatted_vars | join: ", "}}</p>
            <pre><code class="language-javascript">
              {{ pg | xml_escape }}
            </code></pre>
          </div>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('pre code').forEach((block) => {
    hljs.highlightBlock(block);
  });
});
var coll = document.getElementsByClassName("expand-detailbox");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling.nextElementSibling;
    if (content.style.maxHeight){
      this.textContent = "+";
      content.style.maxHeight = null;
    } else {
      this.textContent = "-";
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();
</script>
